.card_container{
    width: 230px;
    height: 170px;
    border: none;
    border-radius: 1rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.card_title{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #878787;
}

.card_count{
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    padding: 1.5rem;
}

.card_img_container{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    position: relative;
    bottom: +40px;
    right: -140px;
}

.card_img_container img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: auto;
    margin-right: 10px;
}